pipeline/Incremental Load.json
{
	"name": "Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Set Today Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Today_Date",
					"value": {
						"value": "@utcNow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set From Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Refresh_From_Date",
					"value": {
						"value": "@adddays(utcNow(),variables('Refresh Interval'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set From Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Today Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"file_path": {
								"value": "@concat('web_scraper_raw_dump/noon/',variables('Today_Date'),'/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified",
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"Today_Date": {
				"type": "String"
			},
			"Refresh Interval": {
				"type": "Integer",
				"defaultValue": -30
			},
			"Refresh_From_Date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}